#ca{
    width: 100px;
    height: 50px;
    color:orangered;
    background-color: black;
}
#cb{
    width: 100px;
    height: 50px;
    color: orangered;
    background-color: black;
}
#cc{
    width: 100px;
    height: 50px;
    color: orangered;
    background-color: black;
}
#cd{
    width: 100px;
    height: 50px;
    color: orangered;
    background-color: black;
}

#cal{
    width: 310px;
    height: 50px;

}
